<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
                <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fa fa-code"></i>
                                                        </div>
                            <div class="timeline-panel">
                                <div class="row p-3">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Pwc MiddleEast Limited Jordan</div>
                                        <div class="h6 mt-0 title">Associate Software Developer (2021/10 - Present)</div>
                                        <p align="justify">Convert Prototype design into HTML code</p>
                                        <p align="justify">Worknig as Full stack developer</p>
                                    </div>    
                                    <div class="col-lg-6 hovertext">       
                                        <ul>
                                            <li class="list justify">Core Functionality</li>
                                            <ul>
                                                <li class="non_list justify">Software Development</li>
                                                <li class="non_list justify"> Web Application Development</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">HTML/CSS/JS</li>
                                                        <li class="non_list">Angular +12</li>
                                                        <li class="non_list">Git</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Dynamics 365 CRM</li>
                                                        <li class="non_list">.NET</li>
                                                        <li class="non_list">Bootstrap 4</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>   
                        <li>
                            <div class="timeline-badge down">
                                <i class="fa fa-code"></i>                            </div>
                            <div class="timeline-panel">
                                <div class="row p-3">
                                    <div class="col-lg-6 hovertext ">
                                        <div class="h5 mt-0 title">Pwc MiddleEast Limited Jordan</div>
                                        <div class="h6 mt-0 title"> Software Developer in test (2021-04 - 2021-10)</div>
                                        <p align="justify">Worked as a Software developer intern on microsoft Power Platform and Dyanmics 365 </p>
                                    </div>    
                                    <div class="col-lg-6 hovertext">       
                                        <ul class="hovertext">
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Software Development</li>
                                                <li class="non_list">Application Development</li>
                                                <li class="non_list">Web Development</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul class="hovertext">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Power Platform</li>
                                                        <li class="non_list">Dyanmics 365 CRM</li>
                                                        <li class="non_list">Liquid Code</li>
                                                        <li class="non_list">Dynamics 365 CRM</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Python</li>
                                                        <li class="non_list">Microsoft Azure</li>
                                                        <li class="non_list">Vaadin Web Framework</li>
                                                        <li class="non_list">Git</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
    </div>
</div>
        